/bin/
install-packages/windows/SDFS-2.0.13-Setup.exe
install-packages/windows/bin/jre/
install-packages/windows/wix/
install-packages/SDFS-3.0.1-Setup.exe
windows-exe/*/x64
windows-exe/*/Debug/
windows-exe/*/Release/
windows-exe/*/ipch/
windows-exe/WindowsSetup/WindowsSetup/bin/
windows-exe/WindowsSetup/WindowsSetup/obj/
windows-exe/x64
windows-exe/Debug/
windows-exe/Release/
windows-exe/ipch/
/test.sh
install-packages/SDFS-3.0.3-Setup.exe
install-packages/SDFS-3.0.4-Setup.exe
install-packages/deb/usr/share/sdfs/lib/sdfs.isajar
install-packages/deb/usr/share/sdfs/bin/jre/
*.tmp
install-packages/SDFS-3.2.1-Setup.exe
install-packages/SDFS-3.2.5-Setup.exe
install-packages/*.exe
/target/
windows-exe/.vs/SDFSCli/v15/.suo
windows-exe/.vs/SDFSCli/v15/.suo
windows-exe/.vs/SDFSCli/v15/Browse.VC.db
windows-exe/.vs/SDFSCli/v15/.suo
windows-exe/.vs/SDFSCli/v15/ipch/48cd406675cd87b5.ipch
windows-exe/.vs/SDFSCli/v15/Solution.VC.db-shm
install-packages/deb/usr/share/sdfs/lib/b2-2.0.3.jar
install-packages/deb/usr/share/sdfs/lib/b2-2.1.2.jar
install-packages/deb/usr/share/sdfs/lib/google-cloud-storage-2.1.2.jar
install-packages/deb/usr/share/sdfs/lib/b2-2.0.3.jar
install-packages/windows/bin/jre/*
pkgs/*.rpm
pkgs/*.deb
pkgs/*.jar
.project
install-packages/docker run --name sdfs-gcs -e TYPE=GOOGL.sh
.vscode*
