/bin/
.project
.classpath
install-packages/windows/SDFS-2.0.13-Setup.exe
install-packages/SDFS-3.0.1-Setup.exe
windows-exe/*/x64
windows-exe/*/Debug/
windows-exe/*/Release/
windows-exe/*/ipch/
windows-exe/x64
windows-exe/Debug/
windows-exe/Release/
windows-exe/ipch/
/test.sh
install-packages/SDFS-3.0.3-Setup.exe
install-packages/SDFS-3.0.4-Setup.exe
install-packages/deb/usr/share/sdfs/lib/sdfs.isajar
*.tmp
