<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LIBFOLDER">
            <Component Id="cmp6782508883D5736BCE7244F36444F823" Guid="*">
                <File Id="filD19F59C22A47194E0CB5DBE8B5782C97" KeyPath="yes" Source="$(var.LibPath)\amqp-client-5.6.0.jar" />
            </Component>
            <Component Id="cmpF077D140573E36BF5A6E03C4236A9A78" Guid="*">
                <File Id="fil1E7DA7BE5E3A44A012555EA51DC8BFCB" KeyPath="yes" Source="$(var.LibPath)\annotations-13.0.jar" />
            </Component>
            <Component Id="cmp7A5A40E89E2A023FEC531254B4657238" Guid="*">
                <File Id="filEAEDB5C5F18F8B1CC0361F598C6EC78A" KeyPath="yes" Source="$(var.LibPath)\annotations-3.0.0.jar" />
            </Component>
            <Component Id="cmp82E6DDD6AFF0808F74317CE6BD709A20" Guid="*">
                <File Id="filBFA73B4FDD919F1B0AA8DE8D62860468" KeyPath="yes" Source="$(var.LibPath)\annotations-api-6.0.53.jar" />
            </Component>
            <Component Id="cmp281C25CA4AA374660E6A681A849EE752" Guid="*">
                <File Id="filE196923482F72A72C1EA61EFAFFBBD0D" KeyPath="yes" Source="$(var.LibPath)\aopalliance-1.0.jar" />
            </Component>
            <Component Id="cmp0474020BB652DD28D610508164B2DC35" Guid="*">
                <File Id="fil16F16CA37756DAA1AABB1E4DCAD6189E" KeyPath="yes" Source="$(var.LibPath)\api-common-2.2.0.jar" />
            </Component>
            <Component Id="cmp5ED49D60E250E89D16DABEA0652D6CC3" Guid="*">
                <File Id="fil3E7CD075E967C25C13443B8B1F599920" KeyPath="yes" Source="$(var.LibPath)\ascii_table-1.0.jar" />
            </Component>
            <Component Id="cmp33D8B56D251078AEDBB8C64BBC3FD04D" Guid="*">
                <File Id="fil85917D4CE2F3F40A1DC23AD4CBCFE9F2" KeyPath="yes" Source="$(var.LibPath)\atmos-2.5.0.jar" />
            </Component>
            <Component Id="cmp76587E8362AA61F76A5BCD5E52F75CD2" Guid="*">
                <File Id="fil77E74089EB8693439871415D50F0F73D" KeyPath="yes" Source="$(var.LibPath)\auto-value-annotations-1.9.jar" />
            </Component>
            <Component Id="cmp2D411BD6DFE2749C4F2359CA09D60F5F" Guid="*">
                <File Id="fil6A4EFFF05ADE13185A32EF528FBD1B64" KeyPath="yes" Source="$(var.LibPath)\aws-java-sdk-core-1.12.243.jar" />
            </Component>
            <Component Id="cmpAE1AF69383F3A4187C2A566DCCD7895F" Guid="*">
                <File Id="fil6022E862FA1B0D6F3CAE52D7497B62DE" KeyPath="yes" Source="$(var.LibPath)\aws-java-sdk-kms-1.12.243.jar" />
            </Component>
            <Component Id="cmpE148C568D5BEFB174F383D7458171426" Guid="*">
                <File Id="filBF8CB815A6E1E3EA127AC701739D9AA4" KeyPath="yes" Source="$(var.LibPath)\aws-java-sdk-s3-1.12.243.jar" />
            </Component>
            <Component Id="cmpF4FB716A48C1664A370D2EF0C03D94AF" Guid="*">
                <File Id="fil617429030F0996A6AFA50A86FFD22683" KeyPath="yes" Source="$(var.LibPath)\aws-s3-2.5.0.jar" />
            </Component>
            <Component Id="cmp786EC02D7B024A18DE90DEE8FF21344B" Guid="*">
                <File Id="fil17F9D26CC9FE7582A9906B51E523EF7F" KeyPath="yes" Source="$(var.LibPath)\azure-keyvault-core-1.2.4.jar" />
            </Component>
            <Component Id="cmpF5C5AA01891B98B9574BCDDC69189B90" Guid="*">
                <File Id="filCDC799006F43C535F6A5DB5D7CBF96E2" KeyPath="yes" Source="$(var.LibPath)\azure-storage-8.6.6.jar" />
            </Component>
            <Component Id="cmp962B170C1C3B376AAA7C0F50540A75FC" Guid="*">
                <File Id="filF9FD3E734F5E9FD2973EB30E30E8116C" KeyPath="yes" Source="$(var.LibPath)\azureblob-2.5.0.jar" />
            </Component>
            <Component Id="cmpF09E794D633CBA81D4F5B602A1F2C9F0" Guid="*">
                <File Id="filE8E1CA501CE15CE685FCE12725F13605" KeyPath="yes" Source="$(var.LibPath)\b2-2.5.0.jar" />
            </Component>
            <Component Id="cmp5DBEADFF8BABB4AAA74214AB13383D17" Guid="*">
                <File Id="fil2586766A4882E524878AEBDC34BABD40" KeyPath="yes" Source="$(var.LibPath)\bcpkix-jdk15on-1.70.jar" />
            </Component>
            <Component Id="cmpF4A1BC612130B76BA121B7EDB2ACE08D" Guid="*">
                <File Id="fil0F3CA4A99896080678E2F01A6178D434" KeyPath="yes" Source="$(var.LibPath)\bcprov-jdk15on-1.70.jar" />
            </Component>
            <Component Id="cmp0A3B62BA136867B52C16FB867B4543BC" Guid="*">
                <File Id="fil62B69D96D62A794D5A58E2E309C9B87F" KeyPath="yes" Source="$(var.LibPath)\bcutil-jdk15on-1.70.jar" />
            </Component>
            <Component Id="cmpB0B5619CA1D75E7EE68093369B7C2FA8" Guid="*">
                <File Id="fil72BEA8DD1AB76F4730014A417C435139" KeyPath="yes" Source="$(var.LibPath)\c3p0-0.9.5.4.jar" />
            </Component>
            <Component Id="cmp0B23732D6636DE1AA45410AC251EE3C8" Guid="*">
                <File Id="fil151C3DB112AB809D2934FDFC3C6FED24" KeyPath="yes" Source="$(var.LibPath)\checker-compat-qual-2.5.5.jar" />
            </Component>
            <Component Id="cmp323D70BCFB9EEE8C28177B39F14B0A60" Guid="*">
                <File Id="filE4650D37286A629C87253EEB29A8EBB5" KeyPath="yes" Source="$(var.LibPath)\checker-qual-3.22.0.jar" />
            </Component>
            <Component Id="cmp45C636FCBE2A99C09E3643E7D6F4C5E5" Guid="*">
                <File Id="filDB421FC887FD423ED13E40331B99E9AE" KeyPath="yes" Source="$(var.LibPath)\commons-cli-1.2.jar" />
            </Component>
            <Component Id="cmpD26AE99F14F73D01A091E85BC85DC22A" Guid="*">
                <File Id="fil0B896CF2260866DCAA04E7298F006565" KeyPath="yes" Source="$(var.LibPath)\commons-codec-1.15.jar" />
            </Component>
            <Component Id="cmp09D6B56F4DC8DDFF4D4DAA44FBAD2B3D" Guid="*">
                <File Id="filA8BA165F85AF3FF62EC3B45B6BFA5AB8" KeyPath="yes" Source="$(var.LibPath)\commons-collections-3.2.2.jar" />
            </Component>
            <Component Id="cmpE4CB626810895AFCA9B5E0646037E4B8" Guid="*">
                <File Id="filD9E331E29FF8A1BF86C8EF000C2BF2C3" KeyPath="yes" Source="$(var.LibPath)\commons-compress-1.21.jar" />
            </Component>
            <Component Id="cmp9FAE3203C9AE877230A6E52A0679A681" Guid="*">
                <File Id="fil62089831CFC8197575B486069DAB35B6" KeyPath="yes" Source="$(var.LibPath)\commons-daemon-1.2.4.jar" />
            </Component>
            <Component Id="cmp58E00CC324E3A774EED93517830F3DC5" Guid="*">
                <File Id="filCB21CE71A30579641932B23FA5974A40" KeyPath="yes" Source="$(var.LibPath)\commons-io-2.7.jar" />
            </Component>
            <Component Id="cmpE12D9132376CA93ED1144138B4B5A8A9" Guid="*">
                <File Id="fil3B1EB8178F2A902103D4780CD7E55CBF" KeyPath="yes" Source="$(var.LibPath)\commons-lang3-3.12.0.jar" />
            </Component>
            <Component Id="cmp66352733E50EB6EE5597DFD952C6B524" Guid="*">
                <File Id="fil6E2CDBD33A7F3E2A933336C5079E1ADD" KeyPath="yes" Source="$(var.LibPath)\commons-logging-1.2.jar" />
            </Component>
            <Component Id="cmp8D40214522225B8AFE5EE0EC22B7D08D" Guid="*">
                <File Id="filBAED460A52A425D9DE4EDC6A335A8C9D" KeyPath="yes" Source="$(var.LibPath)\commons-pool-1.6.jar" />
            </Component>
            <Component Id="cmp847AB263E7CE0BB3764346DA0157AFC5" Guid="*">
                <File Id="fil4B217E80564068314B37A5FBC4348CD4" KeyPath="yes" Source="$(var.LibPath)\commons-pool2-2.4.2.jar" />
            </Component>
            <Component Id="cmpA7C1C56C64D817A0B64A02CC45CC549A" Guid="*">
                <File Id="filC3CCE94EAA396986797A85C23993C10D" KeyPath="yes" Source="$(var.LibPath)\eclipse-collections-11.1.0.jar" />
            </Component>
            <Component Id="cmp3C894C7CED4013A5CF16F15B31A08ACD" Guid="*">
                <File Id="filBB8B3861C4B1A58B7FC4168F16CC6F1D" KeyPath="yes" Source="$(var.LibPath)\eclipse-collections-api-11.1.0.jar" />
            </Component>
            <Component Id="cmpCEF04BA5CECCE0AC86E7DAB729040E15" Guid="*">
                <File Id="fil714C458D5E756420D83E9B9BA4C3EEB3" KeyPath="yes" Source="$(var.LibPath)\eclipse-collections-forkjoin-11.1.0.jar" />
            </Component>
            <Component Id="cmp11FAE2F4CB54A684D927CE5C3616C99E" Guid="*">
                <File Id="fil828B8DE687E91C38FD153C916AF24954" KeyPath="yes" Source="$(var.LibPath)\elsa-3.0.0-M5.jar" />
            </Component>
            <Component Id="cmpD94DCB786755B3DC681C9E6B5B245900" Guid="*">
                <File Id="fil351E978A0BEB15FFCFD21E5B17ED542E" KeyPath="yes" Source="$(var.LibPath)\error_prone_annotations-2.13.1.jar" />
            </Component>
            <Component Id="cmpD5C43AF3F0203C58D9F6FECCFAF1AE69" Guid="*">
                <File Id="fil5BC2CD38D4A8A38061FD166203878219" KeyPath="yes" Source="$(var.LibPath)\failureaccess-1.0.1.jar" />
            </Component>
            <Component Id="cmpBE1F9C525C79475B438403B9F883BC6E" Guid="*">
                <File Id="fil1B43B59D97E157721A0722D2D4B341A5" KeyPath="yes" Source="$(var.LibPath)\fuse-1.0.1.jar" />
            </Component>
            <Component Id="cmpA51FED95F14CB2895DDE11E6C0288E90" Guid="*">
                <File Id="fil6779AB5EAC0F19755CD184A221C0104C" KeyPath="yes" Source="$(var.LibPath)\gax-2.18.1.jar" />
            </Component>
            <Component Id="cmp2FEC15675C4EA7DA6A9BB8CDA89D8A86" Guid="*">
                <File Id="filC9D76C239FDD385543E9DB69FC605C75" KeyPath="yes" Source="$(var.LibPath)\gax-grpc-2.18.1.jar" />
            </Component>
            <Component Id="cmpFDAFBC5164121850B3D0E6159B53C4A3" Guid="*">
                <File Id="fil237F97FE2D14F46BE5C4323ACE6B676E" KeyPath="yes" Source="$(var.LibPath)\gax-httpjson-0.79.0.jar" />
            </Component>
            <Component Id="cmp4600F6F5C8643FA7610D1A5BF2A16BF2" Guid="*">
                <File Id="filCDC59F932B33CB61A2860B74AB1C0F9D" KeyPath="yes" Source="$(var.LibPath)\glacier-2.5.0.jar" />
            </Component>
            <Component Id="cmp6E96AD2E0B03A2398F3049A4BB774D4F" Guid="*">
                <File Id="filB9F12B783298E04CE6ACE2CDC9F44A80" KeyPath="yes" Source="$(var.LibPath)\google-api-client-1.31.3.jar" />
            </Component>
            <Component Id="cmp566E8EA45E09AFA7A50234D5ABC30646" Guid="*">
                <File Id="fil0964D72CB1FFB72687ADF429F49F4E31" KeyPath="yes" Source="$(var.LibPath)\google-api-services-storage-v1-rev20210127-1.31.0.jar" />
            </Component>
            <Component Id="cmp48EBC7E5239F0A77591FB055A1BBDCA0" Guid="*">
                <File Id="fil52453F29E437210ABB7103CA45EF4BFC" KeyPath="yes" Source="$(var.LibPath)\google-auth-library-credentials-0.21.1.jar" />
            </Component>
            <Component Id="cmpB48EFD24B67914508777EC8F0BDB9137" Guid="*">
                <File Id="filDEDC84428F1025E930125BC685E5EEE3" KeyPath="yes" Source="$(var.LibPath)\google-auth-library-oauth2-http-1.7.0.jar" />
            </Component>
            <Component Id="cmp947DCBC494661F2BEEE0B036A9DB53C3" Guid="*">
                <File Id="fil0F101AF34850DD1F116105E70B1053EE" KeyPath="yes" Source="$(var.LibPath)\google-cloud-core-1.94.3.jar" />
            </Component>
            <Component Id="cmp98C4DCBD42546AF49F89EAB2D6E9065D" Guid="*">
                <File Id="filF16F7B535BFDCABD9EF101B9EBDA4B1B" KeyPath="yes" Source="$(var.LibPath)\google-cloud-core-http-1.94.3.jar" />
            </Component>
            <Component Id="cmp61B4DF5F5B0AC3631F7C48EB0DDD7E42" Guid="*">
                <File Id="filDD5B1200CD0D13B042CB8F977F5E923B" KeyPath="yes" Source="$(var.LibPath)\google-cloud-pubsub-1.119.1.jar" />
            </Component>
            <Component Id="cmpA4A79D54A8DE00F43E6FD99EBAA8335D" Guid="*">
                <File Id="fil2DCCED53967527A62FF63FA40394926C" KeyPath="yes" Source="$(var.LibPath)\google-cloud-storage-1.113.14.jar" />
            </Component>
            <Component Id="cmpBE7CBF651D7E8A5680FF38F2F55A5F12" Guid="*">
                <File Id="fil364FAFF6E539B1046ADA9161D0229110" KeyPath="yes" Source="$(var.LibPath)\google-cloud-storage-2.5.0.jar" />
            </Component>
            <Component Id="cmpA572EE1113B6052B9F6498DEAF9CC9E2" Guid="*">
                <File Id="fil5E2DF254F3FB9E5F42504D559173FACA" KeyPath="yes" Source="$(var.LibPath)\google-http-client-1.41.8.jar" />
            </Component>
            <Component Id="cmp551CEA8BB65D811DD6C5B6CD280FCA64" Guid="*">
                <File Id="fil3A1F0F0E3864E469197F7EA1D44BEDA7" KeyPath="yes" Source="$(var.LibPath)\google-http-client-apache-v2-1.39.0.jar" />
            </Component>
            <Component Id="cmp9B4349BEEE04645E0AE0FC1537254BB3" Guid="*">
                <File Id="fil031CDEB89787BA124631CEDBA2D5054C" KeyPath="yes" Source="$(var.LibPath)\google-http-client-appengine-1.39.0.jar" />
            </Component>
            <Component Id="cmp95DA087C2C6B004F37488842F2C985B1" Guid="*">
                <File Id="fil81B3651F1BEAAA36C91D4B49BA555DAF" KeyPath="yes" Source="$(var.LibPath)\google-http-client-gson-1.41.8.jar" />
            </Component>
            <Component Id="cmp465B6B137A5A074E742128AF15359615" Guid="*">
                <File Id="fil492D0AB0FBA0AB07154241201CD6B2CE" KeyPath="yes" Source="$(var.LibPath)\google-http-client-jackson2-1.39.0.jar" />
            </Component>
            <Component Id="cmp769FA388D1F06E39C78E229FAFFE3855" Guid="*">
                <File Id="filDD8A8441AA06C78A3823DD280A070E08" KeyPath="yes" Source="$(var.LibPath)\google-oauth-client-1.31.4.jar" />
            </Component>
            <Component Id="cmpFB8290BEDD6B75E77D683A48B3512C34" Guid="*">
                <File Id="fil6C7F743D9F15FFFFF9F756CD4263035E" KeyPath="yes" Source="$(var.LibPath)\googlecloud-2.5.0.jar" />
            </Component>
            <Component Id="cmpEC2DA4B3F2F728DF1CD8DF9EB9F11652" Guid="*">
                <File Id="fil06D2524BE526B801AD19FDFDE93540D9" KeyPath="yes" Source="$(var.LibPath)\grpc-api-1.46.0.jar" />
            </Component>
            <Component Id="cmp9B080BF116BA91DDF45BDDCC5FDE2812" Guid="*">
                <File Id="filCB6C871CAAB01C65EA97E3DD2040DCBF" KeyPath="yes" Source="$(var.LibPath)\grpc-context-1.46.0.jar" />
            </Component>
            <Component Id="cmpC1F493F89F5CD7587C1B7624D10D7760" Guid="*">
                <File Id="fil45C12C05817DAB3A3D3B6EC4834EDA3A" KeyPath="yes" Source="$(var.LibPath)\grpc-core-1.46.0.jar" />
            </Component>
            <Component Id="cmp12B15A4E7C8EC7A25CDE5A45529DF761" Guid="*">
                <File Id="filBFAEFAA3C7A6812840D0221261B2AB56" KeyPath="yes" Source="$(var.LibPath)\grpc-netty-shaded-1.46.0.jar" />
            </Component>
            <Component Id="cmp92EE8CA62FA319570E50E3A5589725AA" Guid="*">
                <File Id="fil42899426A26812B8342AFBB1B37082C7" KeyPath="yes" Source="$(var.LibPath)\grpc-protobuf-1.46.0.jar" />
            </Component>
            <Component Id="cmpEF2665AA1D0B4454B304B7D5515A4A8D" Guid="*">
                <File Id="fil92DE060E473BC87388178A0A7918F8AC" KeyPath="yes" Source="$(var.LibPath)\grpc-protobuf-lite-1.46.0.jar" />
            </Component>
            <Component Id="cmp3F48BC9EE3B323591A10FC16605D76B4" Guid="*">
                <File Id="fil6CFB7407A2B0AA2F7CF0A7441AEFC24B" KeyPath="yes" Source="$(var.LibPath)\grpc-stub-1.46.0.jar" />
            </Component>
            <Component Id="cmp57487D3373CA8F96227FCD2F561ED55A" Guid="*">
                <File Id="fil264272BFCD7DA7FB464F8B904FE52AC8" KeyPath="yes" Source="$(var.LibPath)\gson-2.9.0.jar" />
            </Component>
            <Component Id="cmp1D375BB549BA99FB45AFC5861DA41580" Guid="*">
                <File Id="fil7BFFF220B6784DE7F6797A0FECB887DB" KeyPath="yes" Source="$(var.LibPath)\guava-30.1.1-jre.jar" />
            </Component>
            <Component Id="cmp88CB2B9909387EB96C428E323F5F244A" Guid="*">
                <File Id="fil4B48B5CD31837F6268200C480D694C86" KeyPath="yes" Source="$(var.LibPath)\guice-5.0.1.jar" />
            </Component>
            <Component Id="cmp373A2531601EC4A2A6652F85E1162BD9" Guid="*">
                <File Id="filBFBBBF3EF7C0577C4C08B88AE63373B0" KeyPath="yes" Source="$(var.LibPath)\guice-assistedinject-5.0.1.jar" />
            </Component>
            <Component Id="cmp0D450E840EAAB1E7121982F72A5ACE1E" Guid="*">
                <File Id="filC765B855C2B7EDEFDDB41B5D52BC9F97" KeyPath="yes" Source="$(var.LibPath)\HikariCP-java7-2.4.13.jar" />
            </Component>
            <Component Id="cmp4B79491C1F016147128272232BDB3B37" Guid="*">
                <File Id="fil2E9F3C94EC658C3B3AA53366FC741944" KeyPath="yes" Source="$(var.LibPath)\httpclient-4.5.13.jar" />
            </Component>
            <Component Id="cmpFB29E18DFC31BA430BEDEB13A14139FD" Guid="*">
                <File Id="fil454E860FD10D27DE39B07B2F6341832F" KeyPath="yes" Source="$(var.LibPath)\httpcore-4.4.13.jar" />
            </Component>
            <Component Id="cmp29BE4F18E3F473E1564A3847D47E7598" Guid="*">
                <File Id="filA6250822B26B238DC133CCCE6D0D074E" KeyPath="yes" Source="$(var.LibPath)\ion-java-1.0.2.jar" />
            </Component>
            <Component Id="cmp1A69F118CE7CE65EBF07BE90603216AA" Guid="*">
                <File Id="fil08A48AC28AC995482F2C109C73D53EC2" KeyPath="yes" Source="$(var.LibPath)\j2objc-annotations-1.3.jar" />
            </Component>
            <Component Id="cmpA0D6BF63FDEFB0834C88E4077C90B71D" Guid="*">
                <File Id="filE32BBB234F293B263FFCBD5BA0B65AC9" KeyPath="yes" Source="$(var.LibPath)\jackson-annotations-2.12.6.jar" />
            </Component>
            <Component Id="cmpD1D0C7927A16E3F2B60CEC44C0FC7952" Guid="*">
                <File Id="fil682EA6624CCBA6B2D775350BFD557A3A" KeyPath="yes" Source="$(var.LibPath)\jackson-core-2.12.2.jar" />
            </Component>
            <Component Id="cmp29640630733DCBB38B791EF090EBC030" Guid="*">
                <File Id="filDD2A42424BCD406A72A86E1A049AE51F" KeyPath="yes" Source="$(var.LibPath)\jackson-databind-2.12.6.1.jar" />
            </Component>
            <Component Id="cmp4252E0B92310EBB267DECF03A1E45172" Guid="*">
                <File Id="fil83C027325753744695DD0A86A2EF6F85" KeyPath="yes" Source="$(var.LibPath)\jackson-dataformat-cbor-2.12.6.jar" />
            </Component>
            <Component Id="cmp3D27C5BD51ACC19FD72FA0D24B41E396" Guid="*">
                <File Id="fil1D37024426EA7054D95BF95745C0ACC0" KeyPath="yes" Source="$(var.LibPath)\jakarta.activation-2.0.0.jar" />
            </Component>
            <Component Id="cmp3A8EC449C0714B0563E140882D65FE47" Guid="*">
                <File Id="filA8B62EA8181D07444483BDB930EE264D" KeyPath="yes" Source="$(var.LibPath)\jakarta.xml.bind-api-3.0.0.jar" />
            </Component>
            <Component Id="cmp4A7C2836C0160F30061AC114EAFEB26B" Guid="*">
                <File Id="filA6D8D1CAED210E7516FF4649FE1A58BA" KeyPath="yes" Source="$(var.LibPath)\javax.annotation-api-1.3.2.jar" />
            </Component>
            <Component Id="cmp9B6B6880D5A4BAF33D36A1F633268A77" Guid="*">
                <File Id="filA42414136AAF32C3CE5D9994D7418E8A" KeyPath="yes" Source="$(var.LibPath)\javax.inject-1.jar" />
            </Component>
            <Component Id="cmp3943EF06B1274C0C7AEE0BE97DAEEB6C" Guid="*">
                <File Id="fil388F907A26C9837CF64842731BFB87EF" KeyPath="yes" Source="$(var.LibPath)\javax.ws.rs-api-2.0.1.jar" />
            </Component>
            <Component Id="cmpCFB7AC1E53A931482B193C6928DBA2FC" Guid="*">
                <File Id="fil86DAD88962E1C1D92CC028806FC1A5FE" KeyPath="yes" Source="$(var.LibPath)\jaxb-impl-2.3.3.jar" />
            </Component>
            <Component Id="cmp0C5894193F607071127491CBDBD249A7" Guid="*">
                <File Id="fil0B3B0C33093145C1180C0E0CFC5A3314" KeyPath="yes" Source="$(var.LibPath)\jclouds-allblobstore-2.5.0.jar" />
            </Component>
            <Component Id="cmp5A73E7BF182B22E593B76527E706E9E6" Guid="*">
                <File Id="filBDFF05D09560C5703ED971DC83625DBF" KeyPath="yes" Source="$(var.LibPath)\jclouds-blobstore-2.5.0.jar" />
            </Component>
            <Component Id="cmpBA051ADE644D94C1039F6B2853073154" Guid="*">
                <File Id="filE8D0D26A9132B94A90F709023DE2C66C" KeyPath="yes" Source="$(var.LibPath)\jclouds-core-2.5.0.jar" />
            </Component>
            <Component Id="cmp28916F51388FEB009F8BA22177BB9044" Guid="*">
                <File Id="fil7E7F910BE0BE0BCD2E0032BBCED58EAB" KeyPath="yes" Source="$(var.LibPath)\jdokan-8.0.0.jar" />
            </Component>
            <Component Id="cmpB3E02C1D71A1EFCC2948AE921367E7A2" Guid="*">
                <File Id="fil12D9231E695C47A06CE991F3ADB6B5D1" KeyPath="yes" Source="$(var.LibPath)\jmespath-java-1.12.243.jar" />
            </Component>
            <Component Id="cmp0F23845804A8A8343944FE6405AF6B33" Guid="*">
                <File Id="fil8B8434E1CC64C8373BAEA5A767E7CDC1" KeyPath="yes" Source="$(var.LibPath)\joda-time-2.8.1.jar" />
            </Component>
            <Component Id="cmpBFD316065C53C065C77024F1FBA495EE" Guid="*">
                <File Id="filA8EAAB5E19AEA6A1CE84615D6CA6152E" KeyPath="yes" Source="$(var.LibPath)\json-20200518.jar" />
            </Component>
            <Component Id="cmp70270F6A7CDA57ED6455C4204189BC96" Guid="*">
                <File Id="fil87491F10E4DA8F77C6F144EA29A35A16" KeyPath="yes" Source="$(var.LibPath)\jsr305-3.0.2.jar" />
            </Component>
            <Component Id="cmpC7D24878D685675EB6CBF568202EF0C7" Guid="*">
                <File Id="fil750E1B2127CDE7DA9B682F14DFF39609" KeyPath="yes" Source="$(var.LibPath)\kotlin-stdlib-1.2.71.jar" />
            </Component>
            <Component Id="cmp111DAAF829A93B374D2399EAD3B5109F" Guid="*">
                <File Id="filCF7EB58E97593F5E4185247280827D17" KeyPath="yes" Source="$(var.LibPath)\kotlin-stdlib-common-1.2.71.jar" />
            </Component>
            <Component Id="cmp7842364C6E7EB269DBCB2DD7B8DFFF84" Guid="*">
                <File Id="fil91DD0A5A289C8E6714B55ACE1CC29D51" KeyPath="yes" Source="$(var.LibPath)\listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar" />
            </Component>
            <Component Id="cmp204FEB02097C3CD9355BC3790EDF7C00" Guid="*">
                <File Id="fil29B4CE6CAB8F6180EA51B0A7944F1F07" KeyPath="yes" Source="$(var.LibPath)\log4j-api-2.17.2.jar" />
            </Component>
            <Component Id="cmp9C49ACD25ADCB28C95C334E49CBDBEF8" Guid="*">
                <File Id="fil486384B91C5B2E6A8F6B4CD7FFE91CAB" KeyPath="yes" Source="$(var.LibPath)\log4j-core-2.17.2.jar" />
            </Component>
            <Component Id="cmp8273B7025DD28927BCD3F6C18801C2A1" Guid="*">
                <File Id="filDC7C05FB92D6127E8C59AF4EBF712C95" KeyPath="yes" Source="$(var.LibPath)\lz4-1.3.0.jar" />
            </Component>
            <Component Id="cmp454ABE7E980F263C54904B893F128B64" Guid="*">
                <File Id="filCA476133F0EB5C807F0E89A8311746EE" KeyPath="yes" Source="$(var.LibPath)\mapdb-3.0.8.jar" />
            </Component>
            <Component Id="cmp442B8382333C2479BC466692C5C94BBD" Guid="*">
                <File Id="fil8D1B2039ECB368EF3BF6AF5463A1E289" KeyPath="yes" Source="$(var.LibPath)\mchange-commons-java-0.2.15.jar" />
            </Component>
            <Component Id="cmp304A4005BE96E1AE9B786CA11BCE48A2" Guid="*">
                <File Id="filEC336D646657732B055CD57F20FC6A47" KeyPath="yes" Source="$(var.LibPath)\oauth-2.5.0.jar" />
            </Component>
            <Component Id="cmp165249523270FEFC5A416CD705DA7496" Guid="*">
                <File Id="filEC045DB5CD90B04DF16FF901F902A795" KeyPath="yes" Source="$(var.LibPath)\opencensus-api-0.31.1.jar" />
            </Component>
            <Component Id="cmp0CF0677378EE383F1F85133642DB5DCB" Guid="*">
                <File Id="filB5ED9C50EA6E6ED1D19028C42F67BBEA" KeyPath="yes" Source="$(var.LibPath)\opencensus-contrib-http-util-0.31.1.jar" />
            </Component>
            <Component Id="cmp757B7D86EEBDFE285F4FC55D30552B4D" Guid="*">
                <File Id="fil7DB2F834ADF0E552C3A78499E2162ACE" KeyPath="yes" Source="$(var.LibPath)\openstack-keystone-2.5.0.jar" />
            </Component>
            <Component Id="cmp966958627D699104070C1DD4459FEF1E" Guid="*">
                <File Id="fil9035E3CFBD57567FAB327382EEBF48D4" KeyPath="yes" Source="$(var.LibPath)\openstack-swift-2.5.0.jar" />
            </Component>
            <Component Id="cmp1A5888FED0824A49777D6C84732C172A" Guid="*">
                <File Id="fil9ED35B24BB232C0ADCED835505E26FCE" KeyPath="yes" Source="$(var.LibPath)\perfmark-api-0.23.0.jar" />
            </Component>
            <Component Id="cmp3040DE4E2D4DD7E29F895B3A4D8EC399" Guid="*">
                <File Id="filC386FFD516AED44BE706EE9A45C21B34" KeyPath="yes" Source="$(var.LibPath)\proto-google-cloud-pubsub-v1-1.101.1.jar" />
            </Component>
            <Component Id="cmp8EF48CDE5FD4C437F810484954B8F072" Guid="*">
                <File Id="fil37978BB0A4CCCEC6BC135E47ABD10E3A" KeyPath="yes" Source="$(var.LibPath)\proto-google-common-protos-2.8.3.jar" />
            </Component>
            <Component Id="cmp562A3FD67A04A679DD041062B8DF068E" Guid="*">
                <File Id="fil30377296136648113C09F32939606259" KeyPath="yes" Source="$(var.LibPath)\proto-google-iam-v1-1.3.4.jar" />
            </Component>
            <Component Id="cmpB91874B89B2C029166155F3CBFAADE15" Guid="*">
                <File Id="filED6BA0DA97130541B9F6857BE5985C68" KeyPath="yes" Source="$(var.LibPath)\protobuf-java-3.19.4.jar" />
            </Component>
            <Component Id="cmp8088D426F81218161C174B2290CED540" Guid="*">
                <File Id="fil056A66F4F89DB1601168779D24F367BF" KeyPath="yes" Source="$(var.LibPath)\protobuf-java-util-3.20.1.jar" />
            </Component>
            <Component Id="cmpA31D8E8CE46678758A22F41ADD67AA65" Guid="*">
                <File Id="fil289746DC706F9FC5FEB6336C54C99130" KeyPath="yes" Source="$(var.LibPath)\protoc-gen-grpc-java-1.46.0.pom" />
            </Component>
            <Component Id="cmpFE26F98C72F70CA547AE3D5FC8EF9D6D" Guid="*">
                <File Id="filF7A7C84996C10E12BC460126E0E3BC29" KeyPath="yes" Source="$(var.LibPath)\quartz-2.3.2.jar" />
            </Component>
            <Component Id="cmp6BDE74EF8767B15EE78FB68DFB6275D1" Guid="*">
                <File Id="fil469C47D2AAACB42A8A678A1AB9B7088A" KeyPath="yes" Source="$(var.LibPath)\rabinwindow-1.0.2.jar" />
            </Component>
            <Component Id="cmpB015F8E262A85C879010910B606E9D75" Guid="*">
                <File Id="fil79099E8EDB9D5798B8A1EDFDA3C3F896" KeyPath="yes" Source="$(var.LibPath)\rackspace-cloudfiles-2.5.0.jar" />
            </Component>
            <Component Id="cmpB8C5C31A23E960D939287B6D7AE56E4D" Guid="*">
                <File Id="filD67383F9DE6F5D640987A0487BC77744" KeyPath="yes" Source="$(var.LibPath)\rackspace-cloudfiles-uk-2.5.0.jar" />
            </Component>
            <Component Id="cmp8D8DA7C9B77C551B3637FB799016DC19" Guid="*">
                <File Id="fil0980A3B1980D560A39BE612FC4278799" KeyPath="yes" Source="$(var.LibPath)\rackspace-cloudfiles-us-2.5.0.jar" />
            </Component>
            <Component Id="cmpDF20DB21B3C64C453AB24D8DA0E983BE" Guid="*">
                <File Id="fil3588882CADB078CE1E559F5A4059B87A" KeyPath="yes" Source="$(var.LibPath)\rackspace-cloudidentity-2.5.0.jar" />
            </Component>
            <Component Id="cmp901778186E5A596DA3CAF19748FCF46B" Guid="*">
                <File Id="fil6EF2374C7ABFEED3899766041B61DBD8" KeyPath="yes" Source="$(var.LibPath)\rocksdbjni-6.28.2.jar" />
            </Component>
            <Component Id="cmpE0663CA4DBD712EB9E2973FE151B8755" Guid="*">
                <File Id="fil585B61EDAE610D32642022F67E170675" KeyPath="yes" Source="$(var.LibPath)\s3-2.5.0.jar" />
            </Component>
            <Component Id="cmp9E70CD4827A5E04AE6E4683B3D5731FB" Guid="*">
                <File Id="fil5057C96333FA3E846092C802FF39893E" KeyPath="yes" Source="$(var.LibPath)\slf4j-api-1.7.25.jar" />
            </Component>
            <Component Id="cmpF2FE100FE25F229F35FE8F7E7F011E36" Guid="*">
                <File Id="fil8EC1A5B89B9092F848BFFB017B74B2E7" KeyPath="yes" Source="$(var.LibPath)\snappy-java-1.1.4.jar" />
            </Component>
            <Component Id="cmp31E79FEFD6E00EDE23597EEE5C6EF36B" Guid="*">
                <File Id="fil8B711AC604AA0D53C8F599180595807B" KeyPath="yes" Source="$(var.LibPath)\sts-2.5.0.jar" />
            </Component>
            <Component Id="cmp1DB24D3A210A550AAC2FD7B529AA3F81" Guid="*">
                <File Id="filF22D1592C732E889413883BB0EC2732E" KeyPath="yes" Source="$(var.LibPath)\threetenbp-1.6.0.jar" />
            </Component>
            <Component Id="cmp2A06B4DB697E5857D3C6ECBFC1BBECA9" Guid="*">
                <File Id="fil18424151FDC7EE9BBDB68CB8A41E3A28" KeyPath="yes" Source="$(var.LibPath)\truezip-file-7.7.10.jar" />
            </Component>
            <Component Id="cmp8EB05B2901A4636FBB9AFDB0CBC4129B" Guid="*">
                <File Id="fil02FA0BB38AF6C54B3CF578B12EA98547" KeyPath="yes" Source="$(var.LibPath)\truezip-kernel-7.7.10.jar" />
            </Component>
            <Component Id="cmp285F9D65938B0D59EC01CE939974E549" Guid="*">
                <File Id="filD54C73D530C5F98181C154733DA2E63E" KeyPath="yes" Source="$(var.LibPath)\utils-1.0.0.jar" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LibFiles">
            <ComponentRef Id="cmp6782508883D5736BCE7244F36444F823" />
            <ComponentRef Id="cmpF077D140573E36BF5A6E03C4236A9A78" />
            <ComponentRef Id="cmp7A5A40E89E2A023FEC531254B4657238" />
            <ComponentRef Id="cmp82E6DDD6AFF0808F74317CE6BD709A20" />
            <ComponentRef Id="cmp281C25CA4AA374660E6A681A849EE752" />
            <ComponentRef Id="cmp0474020BB652DD28D610508164B2DC35" />
            <ComponentRef Id="cmp5ED49D60E250E89D16DABEA0652D6CC3" />
            <ComponentRef Id="cmp33D8B56D251078AEDBB8C64BBC3FD04D" />
            <ComponentRef Id="cmp76587E8362AA61F76A5BCD5E52F75CD2" />
            <ComponentRef Id="cmp2D411BD6DFE2749C4F2359CA09D60F5F" />
            <ComponentRef Id="cmpAE1AF69383F3A4187C2A566DCCD7895F" />
            <ComponentRef Id="cmpE148C568D5BEFB174F383D7458171426" />
            <ComponentRef Id="cmpF4FB716A48C1664A370D2EF0C03D94AF" />
            <ComponentRef Id="cmp786EC02D7B024A18DE90DEE8FF21344B" />
            <ComponentRef Id="cmpF5C5AA01891B98B9574BCDDC69189B90" />
            <ComponentRef Id="cmp962B170C1C3B376AAA7C0F50540A75FC" />
            <ComponentRef Id="cmpF09E794D633CBA81D4F5B602A1F2C9F0" />
            <ComponentRef Id="cmp5DBEADFF8BABB4AAA74214AB13383D17" />
            <ComponentRef Id="cmpF4A1BC612130B76BA121B7EDB2ACE08D" />
            <ComponentRef Id="cmp0A3B62BA136867B52C16FB867B4543BC" />
            <ComponentRef Id="cmpB0B5619CA1D75E7EE68093369B7C2FA8" />
            <ComponentRef Id="cmp0B23732D6636DE1AA45410AC251EE3C8" />
            <ComponentRef Id="cmp323D70BCFB9EEE8C28177B39F14B0A60" />
            <ComponentRef Id="cmp45C636FCBE2A99C09E3643E7D6F4C5E5" />
            <ComponentRef Id="cmpD26AE99F14F73D01A091E85BC85DC22A" />
            <ComponentRef Id="cmp09D6B56F4DC8DDFF4D4DAA44FBAD2B3D" />
            <ComponentRef Id="cmpE4CB626810895AFCA9B5E0646037E4B8" />
            <ComponentRef Id="cmp9FAE3203C9AE877230A6E52A0679A681" />
            <ComponentRef Id="cmp58E00CC324E3A774EED93517830F3DC5" />
            <ComponentRef Id="cmpE12D9132376CA93ED1144138B4B5A8A9" />
            <ComponentRef Id="cmp66352733E50EB6EE5597DFD952C6B524" />
            <ComponentRef Id="cmp8D40214522225B8AFE5EE0EC22B7D08D" />
            <ComponentRef Id="cmp847AB263E7CE0BB3764346DA0157AFC5" />
            <ComponentRef Id="cmpA7C1C56C64D817A0B64A02CC45CC549A" />
            <ComponentRef Id="cmp3C894C7CED4013A5CF16F15B31A08ACD" />
            <ComponentRef Id="cmpCEF04BA5CECCE0AC86E7DAB729040E15" />
            <ComponentRef Id="cmp11FAE2F4CB54A684D927CE5C3616C99E" />
            <ComponentRef Id="cmpD94DCB786755B3DC681C9E6B5B245900" />
            <ComponentRef Id="cmpD5C43AF3F0203C58D9F6FECCFAF1AE69" />
            <ComponentRef Id="cmpBE1F9C525C79475B438403B9F883BC6E" />
            <ComponentRef Id="cmpA51FED95F14CB2895DDE11E6C0288E90" />
            <ComponentRef Id="cmp2FEC15675C4EA7DA6A9BB8CDA89D8A86" />
            <ComponentRef Id="cmpFDAFBC5164121850B3D0E6159B53C4A3" />
            <ComponentRef Id="cmp4600F6F5C8643FA7610D1A5BF2A16BF2" />
            <ComponentRef Id="cmp6E96AD2E0B03A2398F3049A4BB774D4F" />
            <ComponentRef Id="cmp566E8EA45E09AFA7A50234D5ABC30646" />
            <ComponentRef Id="cmp48EBC7E5239F0A77591FB055A1BBDCA0" />
            <ComponentRef Id="cmpB48EFD24B67914508777EC8F0BDB9137" />
            <ComponentRef Id="cmp947DCBC494661F2BEEE0B036A9DB53C3" />
            <ComponentRef Id="cmp98C4DCBD42546AF49F89EAB2D6E9065D" />
            <ComponentRef Id="cmp61B4DF5F5B0AC3631F7C48EB0DDD7E42" />
            <ComponentRef Id="cmpA4A79D54A8DE00F43E6FD99EBAA8335D" />
            <ComponentRef Id="cmpBE7CBF651D7E8A5680FF38F2F55A5F12" />
            <ComponentRef Id="cmpA572EE1113B6052B9F6498DEAF9CC9E2" />
            <ComponentRef Id="cmp551CEA8BB65D811DD6C5B6CD280FCA64" />
            <ComponentRef Id="cmp9B4349BEEE04645E0AE0FC1537254BB3" />
            <ComponentRef Id="cmp95DA087C2C6B004F37488842F2C985B1" />
            <ComponentRef Id="cmp465B6B137A5A074E742128AF15359615" />
            <ComponentRef Id="cmp769FA388D1F06E39C78E229FAFFE3855" />
            <ComponentRef Id="cmpFB8290BEDD6B75E77D683A48B3512C34" />
            <ComponentRef Id="cmpEC2DA4B3F2F728DF1CD8DF9EB9F11652" />
            <ComponentRef Id="cmp9B080BF116BA91DDF45BDDCC5FDE2812" />
            <ComponentRef Id="cmpC1F493F89F5CD7587C1B7624D10D7760" />
            <ComponentRef Id="cmp12B15A4E7C8EC7A25CDE5A45529DF761" />
            <ComponentRef Id="cmp92EE8CA62FA319570E50E3A5589725AA" />
            <ComponentRef Id="cmpEF2665AA1D0B4454B304B7D5515A4A8D" />
            <ComponentRef Id="cmp3F48BC9EE3B323591A10FC16605D76B4" />
            <ComponentRef Id="cmp57487D3373CA8F96227FCD2F561ED55A" />
            <ComponentRef Id="cmp1D375BB549BA99FB45AFC5861DA41580" />
            <ComponentRef Id="cmp88CB2B9909387EB96C428E323F5F244A" />
            <ComponentRef Id="cmp373A2531601EC4A2A6652F85E1162BD9" />
            <ComponentRef Id="cmp0D450E840EAAB1E7121982F72A5ACE1E" />
            <ComponentRef Id="cmp4B79491C1F016147128272232BDB3B37" />
            <ComponentRef Id="cmpFB29E18DFC31BA430BEDEB13A14139FD" />
            <ComponentRef Id="cmp29BE4F18E3F473E1564A3847D47E7598" />
            <ComponentRef Id="cmp1A69F118CE7CE65EBF07BE90603216AA" />
            <ComponentRef Id="cmpA0D6BF63FDEFB0834C88E4077C90B71D" />
            <ComponentRef Id="cmpD1D0C7927A16E3F2B60CEC44C0FC7952" />
            <ComponentRef Id="cmp29640630733DCBB38B791EF090EBC030" />
            <ComponentRef Id="cmp4252E0B92310EBB267DECF03A1E45172" />
            <ComponentRef Id="cmp3D27C5BD51ACC19FD72FA0D24B41E396" />
            <ComponentRef Id="cmp3A8EC449C0714B0563E140882D65FE47" />
            <ComponentRef Id="cmp4A7C2836C0160F30061AC114EAFEB26B" />
            <ComponentRef Id="cmp9B6B6880D5A4BAF33D36A1F633268A77" />
            <ComponentRef Id="cmp3943EF06B1274C0C7AEE0BE97DAEEB6C" />
            <ComponentRef Id="cmpCFB7AC1E53A931482B193C6928DBA2FC" />
            <ComponentRef Id="cmp0C5894193F607071127491CBDBD249A7" />
            <ComponentRef Id="cmp5A73E7BF182B22E593B76527E706E9E6" />
            <ComponentRef Id="cmpBA051ADE644D94C1039F6B2853073154" />
            <ComponentRef Id="cmp28916F51388FEB009F8BA22177BB9044" />
            <ComponentRef Id="cmpB3E02C1D71A1EFCC2948AE921367E7A2" />
            <ComponentRef Id="cmp0F23845804A8A8343944FE6405AF6B33" />
            <ComponentRef Id="cmpBFD316065C53C065C77024F1FBA495EE" />
            <ComponentRef Id="cmp70270F6A7CDA57ED6455C4204189BC96" />
            <ComponentRef Id="cmpC7D24878D685675EB6CBF568202EF0C7" />
            <ComponentRef Id="cmp111DAAF829A93B374D2399EAD3B5109F" />
            <ComponentRef Id="cmp7842364C6E7EB269DBCB2DD7B8DFFF84" />
            <ComponentRef Id="cmp204FEB02097C3CD9355BC3790EDF7C00" />
            <ComponentRef Id="cmp9C49ACD25ADCB28C95C334E49CBDBEF8" />
            <ComponentRef Id="cmp8273B7025DD28927BCD3F6C18801C2A1" />
            <ComponentRef Id="cmp454ABE7E980F263C54904B893F128B64" />
            <ComponentRef Id="cmp442B8382333C2479BC466692C5C94BBD" />
            <ComponentRef Id="cmp304A4005BE96E1AE9B786CA11BCE48A2" />
            <ComponentRef Id="cmp165249523270FEFC5A416CD705DA7496" />
            <ComponentRef Id="cmp0CF0677378EE383F1F85133642DB5DCB" />
            <ComponentRef Id="cmp757B7D86EEBDFE285F4FC55D30552B4D" />
            <ComponentRef Id="cmp966958627D699104070C1DD4459FEF1E" />
            <ComponentRef Id="cmp1A5888FED0824A49777D6C84732C172A" />
            <ComponentRef Id="cmp3040DE4E2D4DD7E29F895B3A4D8EC399" />
            <ComponentRef Id="cmp8EF48CDE5FD4C437F810484954B8F072" />
            <ComponentRef Id="cmp562A3FD67A04A679DD041062B8DF068E" />
            <ComponentRef Id="cmpB91874B89B2C029166155F3CBFAADE15" />
            <ComponentRef Id="cmp8088D426F81218161C174B2290CED540" />
            <ComponentRef Id="cmpA31D8E8CE46678758A22F41ADD67AA65" />
            <ComponentRef Id="cmpFE26F98C72F70CA547AE3D5FC8EF9D6D" />
            <ComponentRef Id="cmp6BDE74EF8767B15EE78FB68DFB6275D1" />
            <ComponentRef Id="cmpB015F8E262A85C879010910B606E9D75" />
            <ComponentRef Id="cmpB8C5C31A23E960D939287B6D7AE56E4D" />
            <ComponentRef Id="cmp8D8DA7C9B77C551B3637FB799016DC19" />
            <ComponentRef Id="cmpDF20DB21B3C64C453AB24D8DA0E983BE" />
            <ComponentRef Id="cmp901778186E5A596DA3CAF19748FCF46B" />
            <ComponentRef Id="cmpE0663CA4DBD712EB9E2973FE151B8755" />
            <ComponentRef Id="cmp9E70CD4827A5E04AE6E4683B3D5731FB" />
            <ComponentRef Id="cmpF2FE100FE25F229F35FE8F7E7F011E36" />
            <ComponentRef Id="cmp31E79FEFD6E00EDE23597EEE5C6EF36B" />
            <ComponentRef Id="cmp1DB24D3A210A550AAC2FD7B529AA3F81" />
            <ComponentRef Id="cmp2A06B4DB697E5857D3C6ECBFC1BBECA9" />
            <ComponentRef Id="cmp8EB05B2901A4636FBB9AFDB0CBC4129B" />
            <ComponentRef Id="cmp285F9D65938B0D59EC01CE939974E549" />
        </ComponentGroup>
    </Fragment>
</Wix>